body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(40, 40, 40);
  width: 700px;
  height: 700px;
  margin: 50px;
  justify-content: center;
}
